<section id="about">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>About Me</h2>
        <hr />
      </div>
    </div>
    <div class="row">
	    <div class="col-sm text-center">
    		<p>
				I am a software engineer with more than 17 years of experience having a knack for code\performance optimizations. I like designing and developing key features of software products in a challenging environment, and to work aside team members from whom I can learn in order to improve my skills and to whom I can share my knowledge in a deep spirit of collaboration.
        	</p>
        	<p>
           		I love tackling hard problems that have customer impact, delivering high quality solutions. I'm looking for a senior individual contributor role where I can take on technical leadership responsibility, and gain experience with backend applications, microservices and distributed systems at scale.
        	</p>
      	</div>
	</div>

	<div class="row">
	  <div class="col-sm">
		    <h3 style="margin-top:0;">Highlights</h3>
		    <ul>
				<li>
					<p>
						Since September 2021 I have a new role as an SDE at Amazon Luxembourg, where I am helping with the effort to expand Amazon in new marketplaces and geographies as part of the INTEX organization.
					</p>
    			</li>
    			<li>
					<p>
						While working for SWIFT, for which I started in June 2019, I have developed features 
						for the Alliance Gateway array of products and I've had an extremely important contribution in 
						the process that led my squad adopting proper Agile methodologies practices and that enabled my teammates to work effectively in the context of SWIFT's Agile transformation.
					</p>
    			</li>
          		<li>
					<p>
						In my previous job at Sony Depthsensing Solutions(f.k.a. SoftKinetic), for which I worked 
						between July 2010 and February 2019, I have led and been instrumental in porting and optimizing 
						the 3D sensors drivers and libraries to run on ARM platforms, paving the way for the company's software products to be used inside embedded devices, phones and cars. As part of that effort I have designed and implemented a cross-platform SIMD(Single Instruction Multiple Data) library for low level code optimizations that is still used today as the basis for optimizations across all of Sony Depthsensing Solutions' drivers and middleware.
					</p>
					<p>
						That allowed me to easily support within my organization multiple processor architectures in 
						terms of software optimizations. It reduced development and maintenance time and freed engineering resources. The library helped all the teams in the software department achieve quicker and better the targets in terms of performance. It helped my colleagues write better optimized code, allowing them to think more on the algorithmic part of the process rather than on the intricacies and details of the target platform.
					</p>
					<p>
						I was the technical lead regarding porting, optimization and multithreading aspects of 
						the Human Tracking Library, a library for multi-user 3D full-body tracking using a depth 
						camera sensor, for the PlayStation 4 console. I designed and implemented the pipelining 
						system of the library in order to achieve optimal performance on the PlayStation 4's hardware.
						With that architecture in place and the optimizations that it enabled, my team achieved the 
						contractual targets in terms of performance. It was the beginning of the collaboration with Sony, which eventually led to the acquisition by Sony Semiconductor.
					</p>
					<p>
						I have led the development of the low level driver and the optimization efforts for the user 
						space driver for a rooftop 3D camera system used in BMW's 2015 series 7 car, which proved 
						to be the start of a very fruitful collaboration concretized with the further development of 
						the system for other BMW models.
					</p> 
					
					<p>
						I have also worked on machine learning related libraries and classifier models used for in-cabin gesture recognition and monitoring inside cars, and designed, configured and administered a small cluster solution to run machine learning related task loads. The usage of the cluster reduced the processing time for the model training and parameter tuning from 72 hours to just 8 hours making the model development process much more streamlined and effective.  
					</p>
          		<li>
					<p>
						At Freescale(currently NXP), between March 2006 and June 2010, I worked on the CodeWarrior 
						IDE(of Metrowerks fame), developing debuggers and profilers for DSPs and various ARM architecture based processors that Freescale had in its portfolio. As part of that I helped my team deliver successfully through three major product release cycles.
					</p>
    			<li>
					<p>
						At Continental, between November 2004 and February 2006, I developed features related to the ABS(Antilock Brake System) car specific ECUs(Electronic Control Units) that the company was developing at that time.
					</p>
    			</li>
    			<li>
					<p>
						I have extensive knowledge and experience with the C++ programming language, I’m fluent 
						in C, Python, Golang, Java, Assembly Language and I’m currently successfully learning Kotlin. 
						I have knowledge of multiple CPU architectures and experience that spans from working at 
						the lowest level of abstraction - that is close to the CPU using machine code - to the higher 
						level of abstractions - that is software components, frameworks, systems and their interactions.
					</p>
		    </ul>
	    </div>
    </div>
  </div>
</section>
