<section class="tout" id="interests">
    <div class="container">
      	<div class="row">
            <div class="col-lg-12 text-center">
                <h2>Interests</h2>
                <hr />
            </div>
		</div>
        <div class="row">
            <div class="col-sm-6">
		    	<p>	
			   		My personal interests include:
        		</p>
				<ul>
			  		<li>
					<b>Distributed systems and microservices<b> as a way forward into my development as a software engineer and I'm always trying to learn new things about system design and how to best build backend services.
					</li>
					<li>
				 	<b>Machine learning & Deep learning</b>. I have obtained several ML related online certifications from Coursera and I follow the developments in the field. I play sometimes with TensorFlow.
			  		</li>
				</ul>
			</div>
    		<div class="col-sm-6">
		  		<ul>
  					<li>
					<b>High Performance Computing</b>I'm interested and playing sometimes with SIMD and parallelization 
					with OpenMP and CUDA. I follow the HPC news and I'm really excited about the EuroHPC programme of 
					building petascale and exascale supercomputers across Europe.
    				</li>
  					<li>
					<b>Space travel</b>. It's an exciting time for space related technologies with private companies 
					like Blue Origin and SpaceX spearheading the progress and with the ongoing programs of ESA and NASA 
					that are planning to bring us around or on the Moon again. 
  					</li>
  		    	</ul>
      		</div>
    	</div>
  	</div>
</section>
